.jacquard-12 charted-regular {
  font-family: "Jacquard 12 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1{
   font-family: "Jacquard 12 Charted", system-ui;
}

/*======== Initialize ========= */

*, ::before, ::after {
  marging: 0;
  padding: 0;
  box-sizing: border-box;
}
::root{
  --accent-color: #34495e;
  --bd-color: #ecf0f1;
  --sub-font: "georgia, sans-serif;
  --main-font: "Jacquard 12 Charted", system-ui;















